.calculator {
  display: flex;
  flex: 2;
}

.App {
  text-align: center;
}

.total {
  font-size: 24px;
}

.input {
  font-size: 18px;
}

.screen {
  background-color: whitesmoke;
}

body {
  margin: 25% 0;
}